.ai-tools-card-inside{
    background: rgb(240, 235, 245);

background: linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, rgb(213, 198, 230) 100%);

background: -moz-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, rgb(215, 196, 226) 100%);

background: -webkit-linear-gradient(90deg, rgb(241, 235, 245) 0%, rgb(196, 188, 219) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#ebf4f5", endColorstr="#b5c6e0", GradientType=1 );
}
.ai-tools-card{
    background-color: rgb(249, 240, 255);
}





.custom-loader {
    width:100px;
    height:100px;
    border:4px solid #343AF4;
    background:
      radial-gradient(farthest-side,#0000 calc(100% - 6px),#343AF4 calc(100% - 4px) 98%,#0000),
      radial-gradient(farthest-side,#0000 calc(100% - 6px),#6065ee calc(100% - 4px) 98%,#0000);
    background-size: 46px 46px;
    background-position: 0 0,24px 24px;
    animation: h4 1s infinite;
  }
  
  @keyframes h4{
    100% {background-position: -46px 0px,24px 70px}
  }