.title{
    height: auto;
    overflow:hidden;

}
@import url("https://fonts.googleapis.com/css?family=Overpass");
.tags-input ul{
  text-overflow: ellipsis;
  overflow: hidden;
}

.tags-input input {
  flex: 1;
  height: 46px;
  font-size: 15px;
  
}
.tags-input input:focus {
  outline: transparent;
}


.tag {
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0 8px;
  font-size: 14px;
  list-style: none;
  border-radius: 6px;
  margin: 0 8px 8px 0;
  background: #0052cc;
}
.tag .tag-title {
  margin-top: 3px;
}
.tag .tag-close-icon {
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-size: 14px;
  margin-left: 8px;
  color: #0052cc;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.ck-content h1 {  font-size: 32px; }

.ck-content h2 {  font-size: 28px; }

.ck-content h3 {  font-size: 25px; }
.ck-content p { font-size: 17px; }
.ck-editor__editable {
  min-height: 300px;
}



.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
input[type='file'] {
  color: transparent;
}

.custom-file-input::before {
  content: 'Select some files';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}



.my-rte-container {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

/* Customize the editor content */
.ql-editor {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  min-height: 200px;
  max-height: 400px;
  overflow-y: auto;
}

/* Style the toolbar */
.ql-toolbar {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

/* Style the buttons */
.ql-toolbar button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

/* Customize the active button styles */
.ql-toolbar button:hover {
  background-color: #f0f0f0;
}

/* Style the input field in the toolbar (for links) */
.ql-toolbar input[type="text"] {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 3px;
  margin-right: 5px;
}

/* Customize the select dropdown in the toolbar (for font size) */
.ql-toolbar select {
  border: none;
  background-color: transparent;
  margin-right: 5px;
}